<?xml version="1.0" encoding="UTF-8"?>
<launch>


	<node name="ekf_localization" pkg="robot_localization" type="ekf_localization_node" output="screen" respawn="true">
        <param name="frequency" value="50" />
		<rosparam file="$(find vc200_controller)/cfg/ekf_localization.yaml" subst_value="true" command="load"/>
		<remap from="odometry/filtered" to="odometry"/>
	</node>

</launch>
