<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <rosparam file="$(find vc200_controller)/cfg/controllers.yaml" subst_value="true" command="load" /> -->

    <!-- <node name="controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn imu_sensor_controller" /> -->

    <rosparam file="$(find vc200_controller)/cfg/controllers.yaml" subst_value="true" command="load" />

    <node name="robot_driver" pkg="vc200_controller" type="imu_test" output="screen" respawn="true" />
    <!-- <node name="imu_sensor_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="imu_sensor_controller" /> -->

    <!-- <node name="imu_sensor_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="imu_sensor_controller" /> -->
    <node name="controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn imu_sensor_controller " />

</launch>
