<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="robot_name" default="vc200" />

    <xacro:property name="robot_name" value="$(arg robot_name)" />
    <!-- Constants -->
    <xacro:property name="PI" value="3.1415926535897931" />

    <xacro:property name="chassis_length" value="0.355" />
    <xacro:property name="chassis_width" value="0.18" />
    <xacro:property name="chassis_height" value="0.108" />
    <xacro:property name="chassis_mass" value="0.5" /> <!-- TODO -->
    <xacro:property name="clearence" value="0.042" />

    <xacro:property name="wheel_radius" value="0.0675" />
    <xacro:property name="wheel_mass" value="0.1" /> <!-- TODO -->
    <xacro:property name="wheel_width" value="0.057" />
    <xacro:property name="wheel_separation" value="0.3" />
    <xacro:property name="wheelbase" value="0.24" />
    <xacro:property name="update_rate" value="50" />
    <!-- <xacro:property name="odometry_source" value="encoder" /> -->
    <xacro:property name="odometry_source" value="world" />
</robot>