<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="robot_name" default="vc200" />

    <xacro:property name="robot_name" value="$(arg robot_name)" />
    <!-- Constants -->
    <xacro:property name="PI" value="3.1415926535897931" />

    <xacro:property name="chassis_lenght" value="0.355" />
    <xacro:property name="chassis_width" value="0.18" />
    <xacro:property name="chassis_height" value="0.108" />
    <xacro:property name="clearence" value="0.046" />

    <xacro:property name="wheel_radius" value="0.065" />
    <xacro:property name="wheel_width" value="0.04" />
    <xacro:property name="wheel_separation" value="0.25"/>
</robot>