<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <arg name="robot_name" default="vc200" />
    <arg name="rate" default="100" />
    <arg name="ignore_timestamp" default="true" />
    <arg name="use_tf_static" default="true" />
    <arg name="model" default="$(find vc200_description)/urdf/vc200.gazebo.xacro" />
    <!-- <arg name="model" default="$(find vc200_description)/urdf/test.xacro" /> -->

    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />
    <arg name="gui_required" default="true" />
    <arg name="mesh_enabled" default="true" />


    <arg name="robot_namespace" default="/" />

    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="verbose" default="false" />
        <arg name="gui_required" value="$(arg gui_required)" />

    </include> -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find vc200_gazebo)/worlds/vc200.world"/>

        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="verbose" default="false" />
        <arg name="gui_required" value="$(arg gui_required)" />

    </include>
    <!-- <rosparam file="$(find vc200_gazebo)/cfg/pid.yaml" command="load" ns="" /> -->
    <group ns="$(arg robot_namespace)">

        <param name="robot_description" command="$(find xacro)/xacro '$(find vc200_description)/urdf/vc200.gazebo.xacro'
        --inorder" />

        <node name="vc200_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="
        -urdf 
        -param robot_description 
        -model $(arg robot_name)
        -x -5.48
        -y -1.14" />

        <!-- <rosparam command="load" file="$(find vc200_gazebo)/cfg/joint_state.yaml" subst_value="true" /> -->
        <!-- Combine joint values -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <param name="publish_frequency" value="$(arg rate)" />
            <param name="ignore_timestamp" value="$(arg ignore_timestamp)" />
            <param name="use_tf_static" value="$(arg use_tf_static)" />
        </node>
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
            <param name="rate" value="$(arg rate)" />
        </node>

        <!-- <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" /> -->
        <node name="map_server" pkg="map_server" type="map_server" args="$(find vc200_gazebo)/map/map.yaml">
            <param name="frame_id" value="map" />
        </node>
        <node pkg="amcl" type="amcl" name="amcl" output="screen">
            <remap from="scan" to="vc200/scan"/>
            <!-- Publish scans from best pose at a max of 10 Hz -->
            <param name="odom_model_type" value="diff" />
            <param name="odom_alpha5" value="0.1" />
            <param name="transform_tolerance" value="0.2" />
            <param name="gui_publish_rate" value="10.0" />
            <param name="laser_max_beams" value="30" />
            <param name="min_particles" value="500" />
            <param name="max_particles" value="5000" />
            <param name="kld_err" value="0.05" />
            <param name="kld_z" value="0.99" />
            <param name="odom_alpha1" value="0.2" />
            <param name="odom_alpha2" value="0.2" />
            <!-- translation std dev, m -->
            <param name="odom_alpha3" value="0.8" />
            <param name="odom_alpha4" value="0.2" />
            <param name="laser_z_hit" value="0.5" />
            <param name="laser_z_short" value="0.05" />
            <param name="laser_z_max" value="0.05" />
            <param name="laser_z_rand" value="0.5" />
            <param name="laser_sigma_hit" value="0.2" />
            <param name="laser_lambda_short" value="0.1" />
            <param name="laser_model_type" value="likelihood_field" />
            <!-- <param name="laser_model_type" value="beam"/> -->
            <param name="laser_likelihood_max_dist" value="2.0" />
            <param name="update_min_d" value="0.2" />
            <param name="update_min_a" value="0.5" />
            <param name="odom_frame_id" value="/vc200/odom" />
            <param name="base_frame_id" value="/vc200/base_footprint"/> <!-- Change this if you want to change your base frame id. -->
    
            <param name="resample_interval" value="1" />
            <param name="recovery_alpha_slow" value="0.0" />
            <param name="recovery_alpha_fast" value="0.0" />
            
            <param name="tf_broadcast" value="true"/>
        </node>
     
        
    </group>

</launch>